@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Extrabold";
    src: url("Gilroy-Extrabold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy-Thin";
    src: url("Gilroy-Thin.woff") format("woff");
}

@font-face {
    font-family: "DINPro";
    src: url("DINPro.woff") format("woff");
}


