@import url('../fonts/stylesheet.css');

html,
body {
	margin: 0;
}
* {
	font-family: 'Gilroy-Thin';
}
.slide {
	width: 100%;
	height: 100%;
}
.slider__wrapper {
	position: relative;
	width: 1024px;
	height: 768px;
	background: #000;
	overflow: hidden;
}
.slideTape {
	display: block;
	width: 500%;
	height: 100%;
	background: rgb(255, 255, 255);
	display: flex;
	transform: translateX(0%);
}
.header {
	display: flex;
	align-items: center;
	height: 25px;
	margin-top: 25px;
	padding-left: 66px;
}
.header__btn {
	height: 19px;
	transform: translateY(-2px);
}
.header__line {
	height: 25px;
	width: 2px;
	background: #000;
	margin: 0 25px;
}
.header__text {
	font-family: 'DINPro';
	font-size: 19px;
	letter-spacing: 2px;
	line-height: 21px;
}
.arrow__line1 {
	width: 10px;
	height: 2px;
	background: white;
	transform: rotate(45deg) translate(30.5px, -4.5px);
	border-radius: 1px;
}
.arrow__line2 {
	width: 20px;
	height: 2px;
	background: white;
	transform: translate(14px, 20.5px);
	border-radius: 1px;
}
.arrow__line3 {
	width: 10px;
	height: 2px;
	background: white;
	transform: rotate(-45deg) translate(2px, 32.5px);
	border-radius: 1px;
}
